@import 'tailwindcss';

@theme {
  --color-primary: oklch(70.5% 0.213 47.604);
  --color-background: #f5f5f5;

  --shadow-md:0px 2px 3px rgba(0,0,0,0.3);

  --spacing-md: 30px;
}

body {
  background-color: var(--color-background);
}
